h1 {
	font-family:sans-serif;
	font-size:32px;
	font-color: #00AEA3;
	background-color: #00AEA3;
	padding: 30px;
	color:white;
	display: inline-block;
	float: left;

}

h2 {
	font-family: sans-serif;
	font-size: 42px;
	color: #00AEA3;
}

nav a {
	display: inline;
	float: right;
	padding-right: 10px;
	margin: 24px 60px 10px 24px;

}

	a:link {
		text-decoration-line:none;
		color: #CDBAAF;
	}

	a:hover {
		color:red;

}

footer{
	clear:both;
	font-family:Arial;
	padding: 32px;
	background-color:#666666;
	text-align: center;
	font-size: 12px;
	color:white;
}

hr {
	border-style: outset;
	border-color: #DCDCDC;
	border-width: 2px;
	margin: auto;
	overflow: auto;
    padding: auto;
}

.height {
	line-height: 1.4em;
}
#headertag {
	padding-left: 140px;
}

#biopic{
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 12px;
}


#main {
	width:650px;
	float:left;
	padding-left: 40px;
	padding-right: 20px;
	padding-bottom: 20px;
	border-width: 2px;
	border-style: solid;
	border-color: #DCDCDC;
	background-color: #FFFFFF;
	margin-left: 140px;
	margin-top: 40px;
	margin-bottom: 30px;
	margin-right: 20px;

}


#clearfix{
	clear:both;
	width:100%;
}
#entire {
	clear:both;
	background-image: url('../images/cork-wallet.png');
	border-bottom-width: 8px;
	border-bottom-style: solid;
	border-bottom-color: #00AEA3;
}

#sidebar {
	width: 270px;
	float:right;
	color:#00AEA3;
	text-align: center;
	font-size: 26px;
	font-family: sans-serif;
	border-width: 1px;
	border-style: solid;
	border-color: #DCDCDC;
	background-color: #FFFFFF;
	margin-top: 40px;
	margin-right: 138px;
	padding-bottom: 30px;
}
